{% extends "admin/templates/admin_template.html" %}

{%block title%} Admin Profile {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Admin Profile</h1>
        </div>
    </div>
</div>

{% endblock %}

