{% extends "public/templates/public_template.html" %}

{%block title%} Home {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
        </div>
    </div>
</div>

{% endblock %}



