{% extends "public/templates/public_template.html" %}

{% block title %}Profile{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Profile</h1>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h4>{{ username }}</h4>
                    <hr>
                    {% if user %}
                    <p><strong>{{ user["name"] }}</strong></p>
                    <p class="text-muted">{{ user["bio"] }}</strike></p>
                    <p><em>{{ user["twitter_handle"] }}</em></p>
                    {% else %}
                    <p>User not found</p>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>


</div>




{% endblock %}