{% extends "public/templates/public_template.html" %}

{% block title %}sign up{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Sign up</h1>
            <hr>
            <form action="/signup" method="POST">

                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" name="email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Sign up</button>






            </form>




        </div>
    </div>
</div>


{% endblock %}
